In [35]:
from sklearn import datasets
import numpy as np
import pandas as pd
import statistics as st

In [110]:
boston = datasets.load_boston()

In [111]:
X= pd.DataFrame(data=boston.data, columns = boston['feature_names'])

In [112]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [48]:
X.drop[,:1]

SyntaxError: invalid syntax (<ipython-input-48-b25596988bf4>, line 1)

In [103]:
X['CHAS']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
501    0.0
502    0.0
503    0.0
504    0.0
505    0.0
Name: CHAS, Length: 506, dtype: float64

In [88]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [89]:
Y=pd.DataFrame(boston.target)

# low_variability

In [93]:
#Funcion que calcula el rango intercuartilico: 
def iqr(x):
  return np.subtract(*np.percentile(x, [75, 25]))

In [144]:
def low_variability(df,treshold):
    '''
    FunciÃ³n que descarta las variables con baja variabilidad intercuartilica, dado un treshold
    recibe un data frame y un treshold 
    devuelve las variables que tienen un rango intercuartilico superior a un porcentaje/treshold del rango intercuartilico global y la lista de variables eliminadas
    '''
    #La media de los rangos intercuartilicos del data frame
    DF=df.copy()
    drop_this=[]
    
    feature_matriz= []
    
    global_iqr=st.mean(DF.apply(iqr))
    treshold = treshold * global_iqr
    
    for i in range(DF.shape[1]):
        iqr_column = iqr(DF.iloc[:,i])
        if iqr_column < treshold:
            drop_this.append(DF.columns[i])
        
    print('columns dropped: ', drop_this)
    DF.drop(columns= drop_this,inplace=True)
            
            
    return DF

In [154]:
low_variability(X,0.4)

columns dropped:  ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'DIS', 'PTRATIO', 'LSTAT']

      AGE  RAD    TAX       B
0    65.2  1.0  296.0  396.90
1    78.9  2.0  242.0  396.90
2    61.1  2.0  242.0  392.83
3    45.8  3.0  222.0  394.63
4    54.2  3.0  222.0  396.90
..    ...  ...    ...     ...
501  69.1  1.0  273.0  391.99
502  76.7  1.0  273.0  396.90
503  91.0  1.0  273.0  396.90
504  89.3  1.0  273.0  393.45
505  80.8  1.0  273.0  396.90

[506 rows x 4 columns]